:root {
    --full-size: 1080px;
    --palette-gap: calc(var(--full-size) * 0.01);
    --outer-border: var(--palette-gap);
    --inner-border: 0px;
    --mainframe-size: calc(var(--full-size) - 2*var(--outer-border));
    --img-width: calc(var(--mainframe-size) * 0.94);
    --palette-width: calc(var(--mainframe-size) - var(--img-width) - var(--palette-gap));
}

body {
    margin: 0;
    background-color: black;
    width: var(--full-size);
    height: var(--full-size);
}

.mainframe {
    width: var(--mainframe-size);
    height: var(--mainframe-size);
    overflow: hidden;
    display: flex;
    background-color: white;
    padding: var(--outer-border);
}

.imgdiv {
    width: var(--img-width);
    border-right: var(--palette-gap);
    border-right-style: solid;
    border-right-color: white;
}

.imgdiv img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#palette {
    width: var(--palette-width);
    display: flex;
    flex-wrap: wrap;
}

#palette > div {
    width: 100%;
}

.follow {
    margin-top: var(--palette-gap);
}
