:root {
    --full-size: 1200px;
    --outer-border: calc(var(--full-size)*0.05);
    --inner-border: var(--outer-border);
    --img-width: 90%;
    --palette-gap: calc(var(--full-size)*0.01);
}

body {
    margin: 0;
    background-color: black;
    width: var(--full-size);
    height: var(--full-size);
}

.mainframe {
    --mainframe-dims: calc(--full-size - 2*var(--outer-border));
    width: var(--mainframe-dims);
    height: var(--mainframe-dims);
    overflow: hidden;
    display: flex;
    background-color: white;
    padding: var(--outer-border);
}

.imgdiv {
    width: var(--img-width);
    margin-right: var(--inner-border);
}

.imgdiv img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

#palette {
    width: calc(100% - var(--img-width));
    display: flex;
    flex-wrap: wrap;
}

#palette > div {
    width: 100%;
}

.follow {
    margin-top: var(--palette-gap);
}
